<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :first_name, class: "form-control mt-3", placeholder: "First Name", required: true %>
  </div>

  <div>
    <%= form.text_field :last_name, class: "form-control mt-3", placeholder: "Last Name", required: true %>
  </div>

  <div>
    <%= form.text_field :country, class: "form-control mt-3", placeholder: "Country" %>
  </div>

  <div>
    <%= form.text_field :province, class: "form-control mt-3", placeholder: "Province/state" %>
  </div>

  <div>
    <%= form.text_field :city, class: "form-control mt-3", placeholder: "City" %>
  </div>

  <div>
    <%= form.text_field :university_college, class: "form-control mt-3", placeholder: "University/College" %>
  </div>

  <div>
    <%= form.text_area :image_url, class: "form-control mt-3", placeholder: "Insert image url ending with .png", rows: 1 %>
  </div>

  <div>
    <%= form.number_field :user_id, id: :prfile_user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="mt-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
