<div id="<%= dom_id profile %>">
  <p>
    <strong>First name:</strong>
    <%= profile.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= profile.last_name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= profile.country %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= profile.province %>
  </p>

  <p>
    <strong>City:</strong>
    <%= profile.city %>
  </p>

  <p>
    <strong>University college:</strong>
    <%= profile.university_college %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= profile.image_url %>
  </p>

</div>
