<p style="color: green"><%= notice %></p>

<%= render @profile %>
<%= @profile.inspect %>
<h1><%= @profile.first_name %> <%= @profile.last_name %></h1>

<% if @posts.any? %>
  <h2>Posts:</h2>
  <ul>
    <% @posts.each do |post| %>
      <li><%= post.description %></li>
    <% end %>
  </ul>
<% else %>
  <p>No posts yet.</p>
<% end %>

<div>
  <%= link_to "Create New Post", new_post_path(profile_id: current_user.profile.id), class: "btn btn-primary" %>
</div>

<div>
  <%= link_to "Edit this profile", edit_profile_path(@profile) %> |
  <%= link_to "Back to profiles", profiles_path %>

  <%= button_to "Destroy this profile", @profile, method: :delete %>
</div>
