<p style="color: green"><%= notice %></p>

<% render @profile %>
<div class="d-flex align-items-center">  
  <p><%= link_to "", tweets_path, class:"fas fa-arrow-left anchor-profile" %></p>
  <div class="d-flex flex-column ms-5">
    <h5> <%= @profile.first_name + " " + @profile.last_name %> </h5>
    <% if @tweets_number.present? && @tweets_number.any? %>
      <p> <%= @tweets_number.last.id %> Tweets </p>
    <% else %>
      <p> 0 Tweets </p>
    <% end %>
  </div>
</div>
<img class="img-fluid" src="https://sirajsaleem.com/images/friends-list-app.png" alt="cover photo" />
<img class="img-fluid" id="profile_image" src="<%= @profile.image_url %>" alt="cover photo" />
<div class="d-flex justify-content-between align-items-center mt-5">
  <h5> <%= @profile.first_name + " " + @profile.last_name %> </h5>
  <div>
    <% if current_user.profile.id != @profile.id %>
      <%= button_to "Follow", profile_relationships_path(@profile.id), method: :post, class:"btn btn-secondary" unless @rel.present? %>
      <%= button_to "Unfollow", relationships_path(@rel.id), method: :delete, class: "btn btn-secondary", params: { id: @rel.id } if @rel.present?  %>
    <% else %>
      <%= link_to "Set up profile", edit_profile_path(@profile), class:"btn btn-light" %>
    <% end %>
  </div>
</div>
<div class="d-flex mb-4">
  <p>Followers: <%= @profile.followers.count %> </p>
  <p class="ms-3">Following: <%= @profile.following.count %> </p>
</div>
<% if @tweets.any? %>
    <% @tweets.each do |tweet| %>
      <%= link_to tweet, class:"anchor-profile" do %>
        <div class="card mb-3 tweet-card">
          <div class="card-body">
            <div class="d-flex">
              <h6 class="card-title">
                <%= @profile.first_name + " " + @profile.last_name %>
              </h6>
              <p class="ms-2">
                <i class="h6">·</i> 
                <%= time_ago_in_words(tweet.created_at) %> 
              </p>
            </div>
            <p class="card-text">          
              <%= tweet.description %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
<% else %>
  <p>No tweets yet.</p>
  <%= link_to "Tweet your first tweet", new_tweet_path(profile_id: current_user.profile.id), class: "btn btn-primary" %>
<% end %>
<!--
<div>
  <%= link_to "Edit this profile", edit_profile_path(@profile) %> |
  <%= link_to "Back to profiles", profiles_path %>

  <%= button_to "Destroy this profile", @profile, method: :delete %>
</div>
-->

