<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control mt-3", placeholder:"Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control mt-3", placeholder:"Password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control mt-3", placeholder:"Confirm Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-primary mt-3" %>
  </div>
<% end %>
<br/>
<%= render "devise/shared/links" %>
