<% if current_user.nil? %>
  <h4 class="mt-3" id="title">
    <%= @title = "Explore" %>
  </h4>  
  <script>
    var pageTitle = '<%= @title %>'; // used in left_column.js
  </script>
<% else %>
  <h4 class="mt-3" id="title">
    <%= @title %>
  </h4>
  <script>
    var pageTitle = '<%= @title %>'; // used in left_column.js
  </script>
<% end %>

<div class="mt-4" id="tweets">
  <% @tweets.each do |tweet| %>
    <% render tweet %>
    <% if @title == "Explore" %>
      <%= link_to tweet, class:"tweet-clean-anchor tweet-card" do %>
        <div class="card mb-3 tweet-card">
          <div class="card-body">
            <div class="card-title d-flex align-items-center">
              <img id="tweet-image-index" src="<%= tweet.profile.image_url.end_with?('.jpg', '.png', '.bmp', '.svg', '.webp') ? tweet.profile.image_url : 'https://sirajsaleem.com/images/default-profile-image.png' %>" alt="profile-image" />
              <h6 class="ms-2">
                <%= tweet.profile.first_name + " " + tweet.profile.last_name %>
              </h6>            
              <p class="ms-2 mt-2">
                <i class="h6">·</i> 
                <%= time_ago_in_words(tweet.created_at) %> 
              </p>
            </div>
            <p class="card-text mt-3">          
              <%= tweet.description %>
            </p>
          </div>
        </div>
      <% end %>
    <% else %>
      <% if !current_user.nil? %>
        <% current_user.profile.following.each do |following| %>
          <% if following.followed_id == tweet.profile.id %>
            <%= link_to tweet, class:"tweet-clean-anchor tweet-card" do %>
              <div class="card mb-3 tweet-card">
                <div class="card-body">
                  <div class="card-title d-flex align-items-center">
                    <img id="tweet-image-index" src="<%= tweet.profile.image_url.end_with?('.jpg', '.png', '.bmp', '.svg', '.webp') ? tweet.profile.image_url : 'https://sirajsaleem.com/images/default-profile-image.png' %>" alt="profile-image" />
                    <h6 class="ms-2">
                      <%= tweet.profile.first_name + " " + tweet.profile.last_name %>
                    </h6>            
                    <p class="ms-2 mt-2">
                      <i class="h6">·</i> 
                      <%= time_ago_in_words(tweet.created_at) %> 
                    </p>
                  </div>
                  <p class="card-text mt-3">          
                    <%= tweet.description %>
                  </p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>


