<p style="color: green"><%= notice %></p>

<% render @tweet %>
<div class="d-flex justify-content-between">
  <div class="d-flex">
    <p><%= link_to "", tweets_path, class:"fas fa-arrow-left anchor-profile mt-2" %></p>
    <h4 class="ms-4"> Tweet </h4>
  </div>
  <% if current_user.profile.id == @tweet.profile.id %>
    <div>
      <%= link_to "Edit Tweet", edit_tweet_path(@tweet), class:"btn btn-outline-primary" %>
    </div>
  <% end %>
</div>

<div class="d-flex align-items-center mt-2"> 
  <img id="tweet-image" src="<%= @tweet.profile.image_url %>" alt="profile-image" />
  <h5 class="ms-4"> <%= @tweet.profile.first_name + " " + @tweet.profile.last_name %> </h5>
</div>

<div class="mt-4">
  <%= @tweet.description %>
</div>

<div class="mt-2">
  <%= @tweet.created_at.strftime("%I:%M %p") %> <i class="h6">·</i> <%= @tweet.created_at.strftime("%B %d, %Y") %>
</div>

<div class="mt-4">
  <img id="tweet-image" src="<%= current_user.profile.image_url %>" alt="profile-image" />
  <textarea> <!-- replies to tweet add the db -->
  </textarea>
</div>

<!--
<div>
  <%= link_to "Edit this tweet", edit_tweet_path(@tweet) %> |
  <%= link_to "Back to tweets", tweets_path %>

  <%= button_to "Destroy this tweet", @tweet, method: :delete %>
</div>
-->
