<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <div class="container-fluid">
        <%= link_to "Facebook", root_path, class:"navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <!-- <ul class="navbar-nav mb-2 mb-lg-0">
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, data:{ turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Edit Profile",  edit_user_registration_path, class:"nav-link" %>
          </li>
            <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class:"nav-link" %>
          </li>  
            <% end %>                 
            </ul> -->
        <% if user_signed_in? %> <!-- force refresh -->
          <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-dark" type="submit">Search</button>
          </form>
          <div class="d-flex justify-content-center align-items-center">
              <i class="fas fa-comments me-3"></i>
              <i class="fas fa-bell me-3"></i>
              <div class="dropdown me-3">
                <i class="fas fa-info" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i> <!-- insert user image -->
                <ul class="dropdown-menu dropdown-menu-custom">
                  <li>
                    <%= link_to "View Profile", profiles_path, class:"dropdown-item" %>
                  </li>
                  <li>
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, data:{ turbo_method: :delete}, class:"dropdown-item" %>
                  </li>
                  <li>
                    <%= link_to "Delete Account", edit_user_registration_path, class:"dropdown-item" %> <!-- to be relocated to user profile -->
                  </li>         
                </ul>
              </div>            
          </div>
        <% end %>
  </div>
</nav>